// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$orange: #E67E22;
$light-gray: #F4F4F4;

// OUR CHOSEN COLOURS
$blue: #233142;
$yellow: #EAF0CE;
$green: #0B7A75;
$gray: #CFD4C5;
$pink: #EC99CD;
$text: #2D2D2D;
