<h1>Book our chef</h1>


      <%= simple_form_for @booking do |f| %>
        <%= f.input :number_of_guests %>
        <%= f.input :dietary_requirements %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
