<h1>This page will display a particular booking details and a message form</h1>

<div> Customer: <%= @booking.customer.name %>
  Chef: <%= @booking.chef.name %>
  Status: <%= @booking.status %>
  <p>Messages: (here use messages cards)</p>  <ul> <% @booking.messages.each do |message| %>
      <li><%= message.content %></li>
      <% end %>
      </ul>

  </div>
