<h1>All our chefs</h1>

<div class="container">
  <div class="row">
    <div class="row">
      <% @chefs.each do |chef| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
          <div class="card-description">
            <h2><%= chef.name %></h2>
            <%= chef.cuisine %>
            <%= chef.price %>
            <%= link_to "chef's details", user_path(chef)%>
          </div>
        </div>
      </div>
      <% end %>
      <% if @chefs.empty? %>
      <h2> No chefs </h2>
      <% end %>
    </div>
  </div>
</div>

