<!-- <div class="container"> -->

 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://udemy-images.udemy.com/course/750x422/465334_4dc1_8.jpg');">
  <!-- <div class="banner" style="background-color:#f0ece2"> -->
    <div class="banner-content">
      <h1>You don't need a silver fork to eat  good food</h1>
      <!-- <form action="#" class="form-inline"> -->
       <!--  <input type="text" class="form-control" placeholder="checkin"> -->
        <!-- <select name="" id="" class="form-control input-lg">
          <option value="1">1 person</option>
          <option value="2">2 persons</option>
          <option value="3">3 persons</option>
          <option value="3">5+ persons</option>
          <option value="3">10+ persons</option>
          <option value="3">20+ persons</option>
        </select> -->
       <!--  <input type="submit" class="btn btn-primary btn-lg" value="Search"> -->
  <!--     <a href="#" class="btn-medium">Write a story</a> -->
        <!-- <input type="submit" class="btn btn-primary" value="view all Chef"> -->
        <div class="effect">

        <div class="button-effect">
      <%= link_to "chef's details", users_path, class: "effect effect-2"%>
    </div>
        </div>
</div>
</div>
      <!-- </form> -->
    </div>
  </div>
  <div class="wrapper-grey padded">
    <div class="container">
      <h2 class="text-center">Book your next Meal</h2>
      <p></p>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg');">
            <div class="card-category"></div>
            <div class="card-description">
              <h2>Breakfast</h2>
              <p>Sit down and have breakfast with us</p>
            </div>

            <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg');">
            <div class="card-category"></div>
            <div class="card-description">
              <h2>Lunch</h2>
              <p>lklkklklklk</p>
            </div>

            <a class="card-link" href="#" ></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg');">
            <div class="card-category"></div>
            <div class="card-description">
              <h2>Dinner</h2>
              <p>jojojojojojojj</p>
            </div>

            <a class="card-link" href="#" ></a>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->

  <!-- <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div> -->
</div>

<!-- </div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div> -->

