<!-- <div class="container"> -->

  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 30%), url('https://i.ndtvimg.com/i/2016-04/japanese-food-625_625x406_81461928658.jpg');">
    <!-- <div class="banner" style="background-color:#f0ece2"> -->
      <div class="banner-content">
        <h1>Fine dining.</h1>
        <h2>In your home.</h2>
        <p></p>
        <%= link_to "Browse chefs", users_path, class: "btn btn-primary"%>
      </div>
    </div>
    <div class="wrapper-grey padded">
      <div class="container">

        <div class="marketing row">
          <div class="col-xs-12 col-sm-4">

            <a href="#"><i class="fas fa-search"></i></a>
            <p>Browse talented chefs in your area</p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <a href="#"><i class="fas fa-calendar-check"> </i></a>
            <p>Book and confirm a date with a chef of your choice </p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <a href="#"><i class="fas fa-utensils"></i> </a>
            <p>Enjoy delicious meals cooked by our chef with your friends at home</p>
          </div>
        </div>


        <p class="intro">Some of our chefs' creations</p>

        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://cdn.websites.hibu.com/a14ab3a9a02e4c94983ae7d1fda25bf9/dms3rep/multi/mobile/Home.jpg');">
              <div class="card-category"></div>
              <div class="card-description">
                <h2>Carlos</h2>
                <p>Mexican</p>
              </div>

              <a class="card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://i.ndtvimg.com/i/2016-04/japanese-food-625_625x406_81461928658.jpg');">
              <div class="card-category"></div>
              <div class="card-description">
                <h2>Victoria</h2>
                <p>Japanese</p>
              </div>

              <a class="card-link" href="#" ></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://images-1d71.kxcdn.com/images/resized/size-misc_massive/2016/05/25/05/49/59/586/img_6304.JPG');">
              <div class="card-category"></div>
              <div class="card-description">
                <h2>Michelle</h2>
                <p>Italian</p>
              </div>

              <a class="card-link" href="#" ></a>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->

  <!-- <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div> -->
</div>


<!-- </div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div> -->

