.form-filling {
    textarea {
      color: #606060;
    }
    #booking_number_of_guests {
      color: #606060;
    }
    #user_qualification {
      color: #606060;
    }
    #user_price {
      color: #606060;
    }
    #user_cuisine {
      color: #606060;
    }
}
